/* Main navbar */
.navbar-home {
  font-family: "Oswald", sans-serif;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

/* Right section */
.navbar-home-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-home-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-home-link {
  color: #616668;
  font-size: 14px;
}

.navbar-home-link:hover {
  color: #000000;
  text-decoration: none;
}
