/* Main navbar */
.navbar-home {
  font-family: "Oswald", sans-serif;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-home-item {
    cursor: pointer;
    padding: 0 15px;
  }

  .navbar-home-link {
    color: transparent;
    transition: 0.5s color ease;
  }

  .navbar-home-link:hover {
    color: transparent;
    text-decoration: none;
  }
}

.navbar-home-view {
  .navbar-home-link {
    color: #333333;
    font-size: 14px;
  }
  .navbar-home-link:hover {
    color: #000000;
    text-decoration: none;
  }
}

/* Right section */
.navbar-home-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


