.container {
  // width: 1100px;
  // height: 100vh;
  // background-color: pink;
}

// ME

#bloc-me {
  min-height: calc(100vh - 70px);
  display: flex;
}

.profil {
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.profil-hello {
  grid-column: 2 / 5;
  grid-row: 1 / 3;
}

.profil-hello h2{
  font-family: "Oswald";
  font-weight: bold;
  font-size: 95px;
  color: #efeff7;
}

.profil-desc {
  grid-column: 3;
  grid-row: 2 / 4;
  font-size: 20px;
}

@media (max-width: 992px) {
  .profil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    // padding: 10px 0;
  }

  .profil-hello {
    grid-column: 1;
    grid-row: 1;
  }

  .profil-desc {
    grid-column: 1;
    grid-row: 2;
  }

  .bloc-hello h2{
    font-size: 50px;
  }
}


// SKILLS
#skills {
  padding: 100px 0;
}

.skill {
  // width: 280px;
  // height: 375px;
  padding: 20px;
  margin: 10px 0;
  border-radius: 3px;
  border: 0.5px solid #E3E3E3;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2)
}

.skill:hover {
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

.skill-link {
  color: #333333;
}

.skill-link:hover{
  text-decoration: none;
  color: #333333;
}

.skill img{
  height: 125px;
}

.skill h3 {
  margin: 20px 0;
}

.skill-info {
  margin-top: 35px;
}

// PROJECTS

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 2fr;
  padding: 80px 0;
}

.project-skill {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  z-index: 100;
}

.project-skill h2 {
  font-family: "Oswald";
  font-weight: bold;
  font-size: 95px;
  color: #efeff7;
}

.description {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.project-link {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}

.project-link img {
  height: 400px;
  width: 700px;
  border-radius: 3px;
  object-fit: cover;
}

.description-title {
  border-bottom: 0.5px solid #616668;
}

.description-info{
  margin: 10px 0;
}

@media (max-width: 992px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    padding: 0;
  }

  .project-skill {
    grid-column: 1;
    grid-row: 1;
  }

  .project-skill h2 {
    font-size: 50px;
  }

  .description {
    grid-column: 1;
    grid-row: 3;
  }

  .project-link {
    grid-column: 1;
    grid-row: 2;
  }

  .project-link img {
    height: 200px;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
  }
}

// MESSAGE
.message {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 100px 0;
}

.message-one {
  grid-column: 2 / 5;
  grid-row: 1 / 4;
}

.message-one h2{
  font-family: "Oswald";
  font-weight: bold;
  font-size: 95px;
  color: #efeff7;
}

.message-two {
  grid-column: 3 / 5;
  grid-row: 2;
  z-index: 200;
}

.message-two p{
  font-size: 20px;
}

.message a:hover {
  font-family: 'Quattrocento', serif;
  color: #333333;
}


@media (max-width: 992px) {
  .message {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 10px 0;
  }

  .message-one {
    grid-column: 1;
    grid-row: 1;
  }

  .message-two {
    grid-column: 1;
    grid-row: 2;
  }

  .message-one h2{
    font-size: 50px;
  }
}

// CONTACT
.contact {
  padding-top: 30px;
}

.contact-details {
  font-size: 20px;
  line-height: 20px;
}

.contact-link a{
  color: #333333;
  margin: 10px;
  font-size: 25px;
}

.contact-link a:hover{
  color: #000000;
}
