#tools {
  a {
    color: $dark-gray;
    &:hover {
      color: $yellow;
    }
  }
  h2 {
    color: $yellow;
  }
  h3 {
    font-size: 2rem;
  }
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}
