<div class="navbar-home">
  <!-- Logo -->
  <%= link_to 'Philippine Berton', '/', class:"navbar-home-link" %>

  <!-- Right Navigation -->
  <div class="navbar-home-right hidden-xs hidden-sm">

    <%= link_to 'PROJETS', '/#HTML', class:"navbar-home-item navbar-home-link" %>
    <%= link_to 'CONTACT', '/contact.html', class:"navbar-home-item navbar-home-link" %>

  </div>

</div>
