<div class="navbar-home">
  <!-- Logo -->
  <%= link_to 'Philippine Berton', '/' %>

  <!-- Right Navigation -->
  <div class="navbar-home-right hidden-xs hidden-sm">

    <a href="" class="navbar-home-item navbar-home-link">FR</a>
    <a href="" class="navbar-home-item navbar-home-link">EN</a>

  </div>

</div>
