<div class="navbar-home">
  <!-- Logo -->
  <%= link_to 'Philippine Berton', '/', class:"navbar-home-link" %>

  <!-- Right Navigation -->
  <div class="navbar-home-right hidden-xs hidden-sm">

    <a href="#HTML" class="navbar-home-item navbar-home-link">PROJECTS</a>
    <a href="#contact" class="navbar-home-item navbar-home-link">CONTACT</a>

  </div>

</div>
