html {
  font-size: 16px;
}

body{
  margin: 0px;
  background-color: white;
  font-family: $body-font;
  color: $dark-gray;
  text-align: center;
}

h1, h2, h3 {
  font-family: $headers-font;
  font-weight: 700;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
}

ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
  li{
    font-weight: 300;
    font-size: .8rem;
  }
}

a {
  color: $white;
  &:hover {
    text-decoration: none;
    color: $yellow;
  }
}

.list-inline {
  li {
  display: inline-flex;
    margin: 0 1rem;
  }
}

.bolder {
  font-weight: bold;
}

.separator {
  height: 0.5rem;
  width: 4rem;
  margin: 2rem auto;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-white {
  background-color: $white;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-black {
  background-color: $dark-gray;
}

.yellow {
  color: $yellow;
}

.dark-gray {
  color: $dark-gray;
}

.white {
  color: $white;
}

.pad-x-6 {
  padding: 0 6rem;
}

.pad-x-10 {
  padding: 0 10rem;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media (min-width: 992px) {
  .display-flex {
    display: flex;
  }
  .half-width {
    width: 50%;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
  }
}
