---
title: Philippine Berton - About
---

<div class="banner">
  <div class="wrapper-content">
    I'm not one</br>
    for writing extended</br>
    bio so below are</br>
    5 true facts about me.
  </div>
</div>

<div class="wrapper">
  <div class="wrapper-content">
    1. I won french rowing</br>
    championship several times.
  </div>
</div>

<div class="wrapper">
  <div class="wrapper-content">
    2. I live with a fluffy cat</br>
    named Shiva.
  </div>
</div>

<div class="wrapper">
  <div class="wrapper-content">
    3. I try to travel</br>
    to a new place</br>
    at least once a year.
  </div>
</div>

<div class="wrapper">
  <div class="wrapper-content">
    4. blablabla
  </div>
</div>
