---
title: Philippine Berton - About
---

<div class="banner">
  <div class="wrapper-content">
    Hi, I՚m Philippine, a freelance web developper working
    in Nancy & Paris.
    I create websites,
    packaging, retail concepts, illustrations
    and everything in-between.
  </div>
</div>
