---
title: Philippine Berton - Portfolio
---


<!-- home-me -->
<div class="bloc-me d-flex justify-content-center flex-column text-center">
  <span>Hello, I'm Philippine</span>
  <span>a freelance web developer</span>
  <span>living & working in Nancy / Paris.</span>
</div>


  <!-- skills -->
<div class="container">
  <div class="bloc-skills d-flex justify-content-center align-items-center">
    <div class="skills d-flex align-items-stretch">

      <div class="skill bg-white text-center">
        <img src="/images/HTML_CSS.svg" alt="">
        <div class="skill-info">
          <h3>HTML / CSS</h3>
          <p>Victura summitatem in Fortuna ad augeretur ut Virtus mundanum plerumque plerumque plerumque dissidentes surgeret non.</p>
        </div>
      </div>

      <div class="skill bg-white text-center">
        <img src="/images/UI_UX.svg" alt="">
        <div class="skill-info">
          <h3>UX / UI Designer</h3>
          <p>Victura summitatem in Fortuna ad augeretur ut Virtus mundanum plerumque plerumque plerumque dissidentes surgeret non.Fortuna ad augeretur ut Virtus mundanum</p>
        </div>
      </div>

      <div class="skill bg-white text-center">
        <img src="/images/programmer.svg" alt="">
        <div class="skill-info">
          <h3>Programmer</h3>
          <p>Victura summitatem in Fortuna ad augeretur ut Virtus mundanum plerumque plerumque plerumque dissidentes surgeret non.</p>
        </div>
      </div>

    </div>
  </div>
</div>

  <!-- projects -->
<div class="container">

  <div class="project-skill">
    <h1>HTML</br>
    /CSS</h1>
  </div>

  <div class="bloc-project d-flex align-items-center">
    <div class="project d-flex align-items-stretch">
      <div class="project-content bg-white align-self-end">
        <div class="project-title">
          <h3>GARDEN PARTY</h3>
        </div>
        <div class="project-info">
          <p>Cum se satis satis dicunt Euripidis qui cum Romano cur non dicat expressas enim fabellas fabellas qui Latina Latina Pacuvii. Cum se satis satis dicunt Euripidis qui cum Romano cur non dicat expressas enim fabellas fabellas qui Latina Latina Pacuvii. Cum se satis satis dicunt Euripidis qui cum Romano cur non dicat expressas enim fabellas fabellas qui Latina Latina Pacuvii.</p>
        </div>
      </div>
      <img src="/images/Garden_party.png" alt="">
    </div>
  </div>

</div>

<div class="container">

  <div class="project-skill">
    <h1>UX / UI</br>
    Designer</h1>
  </div>

  <div class="bloc-project d-flex align-items-center">
    <div class="project d-flex align-items-stretch">
      <div class="project-content bg-white align-self-end">
        <div class="project-title">
          <h3>GARDEN PARTY</h3>
        </div>
        <div class="project-info">
          <p>Cum se satis satis dicunt Euripidis qui cum Romano cur non dicat expressas enim fabellas fabellas qui Latina Latina Pacuvii. Cum se satis satis dicunt Euripidis qui cum Romano cur non dicat expressas enim fabellas fabellas qui Latina Latina Pacuvii. Cum se satis satis dicunt Euripidis qui cum Romano cur non dicat expressas enim fabellas fabellas qui Latina Latina Pacuvii.</p>
        </div>
      </div>
      <img src="/images/Garden_party.png" alt="">
    </div>
  </div>

</div>

<div class="container">

  <div class="project-skill">
    <h1></ ></br>
    Programmer</h1>
  </div>

  <div class="bloc-project d-flex align-items-center">
    <div class="project d-flex align-items-stretch">
      <div class="project-content bg-white align-self-end">
        <div class="project-title">
          <h3>GARDEN PARTY</h3>
        </div>
        <div class="project-info">
          <p>Cum se satis satis dicunt Euripidis qui cum Romano cur non dicat expressas enim fabellas fabellas qui Latina Latina Pacuvii. Cum se satis satis dicunt Euripidis qui cum Romano cur non dicat expressas enim fabellas fabellas qui Latina Latina Pacuvii. Cum se satis satis dicunt Euripidis qui cum Romano cur non dicat expressas enim fabellas fabellas qui Latina Latina Pacuvii.</p>
        </div>
      </div>
      <img src="/images/Garden_party.png" alt="">
    </div>
  </div>

</div>


  <!-- contact -->
<div class="bloc-contact d-flex align-items-center justify-content-center flex-column">
  <div class="contact-message">
    <div class="message-front text-center">
      <p>Write a message, give me a call and</p>
      <p>we'll grab a coffee and talk about</p>
      <p>your project.</p>
    </div>
    <div class="message-back">
      <h1>Want</br>
      to work</br>
      with me ?</h1>
    </div>
  </div>
</div>
  <div class="contact d-flex align-items-center justify-content-between">
    <div class="contact-details">
      <p>Philippine Berton</p>
      <p>phi.berton@hotmail.fr</p>
      <p>+33 (0)6 81 48 49 93</p>
    </div>
    <div class="contact-link">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>

