---
title: Philippine Berton - Portfolio
---

<!-- <div class="banner">
  <div class="wrapper-content">
    Hello Stranger,</br>
    welcome in my world.
  </div>
</div> -->

<div class="bloc-me">
  <div class="wrapper">
    <div class="wrapper-content">
      I'm Philippine</br>
      a freelance web developer</br>
      living & working in Nancy / Paris.
    </div>
  </div>

  <div class="wrapper">
    <div class="wrapper-content">
      <div class="content-title">
        I've just completed</br>
        Le Wagon Coding Bootcamp</br>
        in Paris, Batch#200 - dec '18.
      </div>
      <div class="content">
        <div class="card">

          <div class="card-column">
            <div class="card-element">
              Ruby
            </div>
            <div class="card-element">
              Rails
            </div>
            <div class="card-element">
              HTML5
            </div>
          </div>

          <div class="card-column">
            <div class="card-element">
              CSS3
            </div>
            <div class="card-element">
              Bootstrap
            </div>
            <div class="card-element">
              JS / ES6
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="bloc-contact">
  <div class="contact">
    <div class="contact-background">
      Want</br>
      to work</br>
      with me ?
    </div>
    <div class="contact-front">
      <a class="contact-front-content" href="">
        Write a message, give me a call</br>
        and we'll grab a coffee and talk about</br>
        your project.
      </a>
    </div>
  </div>
</div>
