---
title: Philippine Berton
---


<div class="title">
  <h1><span class="yellow">Philippine B.</span></h1>
  <p>Conceptrice d'application web <span class="bolder px-2">|</span> intégratrice web <span class="bolder px-2">|</span> UX designer</p>
</div>

<div class="section bg-light-gray">
  <h2><span class="dark-gray">toolset.</span></h2>
  <div class="separator bg-yellow"></div>
  <div class="list">
    <ul>
      <li>Ruby on Rails</li>
      <li>Sketch / Figma</li>
      <li>Adobe Photoshop</li>
      <li>Adobe Illustrator</li>
      <li>Adobe InDesign</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
    </ul>
  </div>
</div>

<div class="display-flex">
  <div class="section bg-yellow half-width">
    <h2><span class="white">skills.</span></h2>
    <div class="separator bg-white"></div>
    <div class="list">
      <ul>
        <li>UX / UI</li>
        <li>Design web</li>
        <li>Développement front-end</li>
        <li>Développement fullstack</li>
        <li>WordPress</li>
      </ul>
    </div>
  </div>
  <div class="section bg-white half-width">
    <h2><span class="yellow">experience.</span></h2>
    <div class="separator bg-black"></div>
    <div class="list">
      <ul>
        <li>2012 - 2018 Chargée de création graphique au service Espaces Verts</li>
        <li>(Métropole du Grand Nancy)</li>
        <li>2018 Certification Concepteur d’application web (Le Wagon)</li>
        <li>since 2019 Freelance</li>
      </ul>
    </div>
  </div>
</div>

<div class="section bg-black">
  <h2><span class="white">contact.</span></h2>
  <div class="separator bg-yellow"></div>
  <div class="list-inline">
    <ul>
      <li><a href="mailto:phi.berton@hotmail.fr" target="_blank">Mail</a></li>
      <li><a href="https://www.linkedin.com/in/philippineberton/" target="_blank">Linkedin</a></li>
      <li><a href="https://github.com/Ceriiise" target="_blank">Github</a></li>
    </ul>
  </div>
</div>
